body {
  background-color: hsl(240, 80%, 17%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  gap: 10px;
  margin: 0 auto;
}

.block {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: hsl(0, 100%, 70%);
}

.green {
  background: hsl(120, 100%, 75%);
}
.blue {
  background: hsl(240, 100%, 65%);
}

.yellow {
  background: hsl(60, 100%, 70%);
}
